body {
    line-height: 150%;
    padding-top: 0%;
    font-family: 'Ropa Sans', sans-serif;
}

main {
    clear: both;
}

header {
    background-color: black;
    overflow: auto;
}

header a {
    padding-left: 5%;
    float: left;
    color: white;
}

img {
    max-width: 100%;
    float: left;
}

main {
    padding: 5%;
}

figure {
    float: left;
    display: inline-block;
}

img:hover {
    opacity: .5;
}


/*----------------------------------------- class */

.float {
    float: left;
    display: inline-block;
}


/*---------------------------------------- id */

#projects {
    overflow: auto;
    border-bottom: solid 1px black;
    padding-bottom: 5%;
}

#currently {
    clear: both;
    margin-top: 1em;
}

@media screen and (min-width: 40em) {
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5 {
        max-width: 50%;
        float: left;
        display: inline-block;
    }
    #currently {
        max-width: 50%;
    }
}

@media screen and (min-width: 60em) {
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5 {
        max-width: 25%;
    }
    #currently {
        max-width: 25%;
    }
}