body {
    background-color: #ffffff;
    line-height: 160%;
    font-family: 'Quantico', sans-serif;
    padding: 1em;
    color: #606060;
    font-size: 90%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 80%;
    margin-bottom: .5em;
    text-transform: uppercase;
    color: #d43434;
}

h1 {
    text-transform: none;
    font-size: 2em;
    color: #000000;
    font-weight: 600;
}

#titles {
    font-style: italic;
}

a:link,
a:visited {
    color: #606060;
    text-decoration: none;
    display: inline-block;
    transition: .5s ease;
}

a:hover,
a:active {
    /*    font-style: italic;*/
    letter-spacing: .2em;
}

section {
    margin-bottom: 1em;
}

@media screen and (min-width: 480px) {
    body {
        padding-left: 30%;
    }
}