body {
    line-height: 150%;
    letter-spacing: .5em;
    font-family: monospace;
    font-size: 85%;
    padding: 1em;
    background-color: #3c3c3c;
    color: #ffffff;
    text-transform: uppercase;
    transition: 2s ease;
    padding: 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

h1 {
    color: #00ff93;
    display: inline-block;
    float: left;
}

h2 {
    color: #fda61b;
}

#titles {}

li {
    overflow: auto;
    padding-left: 1em;
}

a:link,
a:visited {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    transition: .5s ease;
    display: block;
    display: inline-block;
    float: left;
}

a:hover,
a:active {
    font-style: italic;
}

section {
    /*    border-top: dotted 1px #989898;*/
    padding: .5em;
    clear: both;
    overflow: auto;
}

p {
    color: #aaaaaa;
    display: inline-block;
    float: left;
}

@media screen and (min-width: 35em) {
    article {}
}