body,
html {
    height: 100%;
}

body {
    line-height: 150%;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 1.5em;
    line-height: 2;
    letter-spacing: .25em;
    text-transform: uppercase;
}

h2 {}

h3 {
    font-size: 22px;
    padding-bottom: .2em;
}

#mainlogo {
    display: block;
    margin: 0 auto;
    width: 5em;
}

header {
    position: fixed;
    width: 100%;
    padding: .5em;
    max-height: 3em;
    background-color: white;
    border-bottom: solid 1px #cfcfcf;
}

header:hover {}


/*header -----------------*/

main {
    padding: 1px;
}

section,
nav ul {
    clear: both;
    margin: 0 auto;
}

section {
    /*    because of the fixed header i had to push the section down*/
    padding-top: 1em;
}

img {
    max-width: 100%;
    display: block;
}

.box {
    overflow: auto;
}

figure {
    width: 100%;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    padding: .5em;
}

nav {
    position: fixed;
    top: 2.6em;
    left: 0;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    display: none;
}

nav ul {
    margin: 0 auto;
    padding: 1em;
}

nav li a {
    padding: .25em;
    padding-left: 0;
    color: grey;
    display: block;
    text-decoration: none;
    font-size: 1em;
}

nav li a:hover {
    color: royalblue;
}

#resumebox {}


/*------------------------------------------*/

body {
    line-height: 120%;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

h2 {
    margin-bottom: 1em;
    text-transform: uppercase;
    font-weight: 600;
}

h3 {
    font-size: 14px;
    color: royalblue;
}

p {
    font-family: sans-serif;
    font-size: 12px;
}

#projectbox {
    padding: .5em;
    padding-top: 3em;
}

#designexp .mod {
    margin-bottom: 1em;
}

#designexp {
    border-top: none;
    margin-top: 3em;
}

#designexp .margin-bottom-none {
    margin-bottom: 0;
}

.mod-container {
    overflow: auto;
    padding-left: 1em;
}

.title,
span {
    color: grey;
    font-weight: 100;
}

section {
    overflow: auto;
    clear: both;
    border-top: solid 1px #c7c7c7;
    padding-bottom: 1em;
}

#resumebox {
    padding: 1em;
    background-color: #ededed;
}

#description {}

.mod-container {
    display: inline-block;
    float: right;
    width: 100%;
}

@media screen and (min-width: 40em) {
    body {}
    h2 {
        display: inline-block;
        float: left;
    }
    #projectbox {
        /*        max-width: 80em;*/
        margin: 0 auto;
    }
    .mod-container {
        display: inline-block;
        float: right;
        width: 50%;
        box-sizing: border-box;
    }
    main {
        margin: 0 auto;
    }
    figure {
        width: 50%;
    }
    #resumebox-innerbox {
        margin: 0 auto;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 55em) {
    figure {
        width: 33.333333%;
    }
    .mod-container {
        display: inline-block;
        float: right;
        width: 33.3333%;
    }
}